 .parallax-background{
	height: 1000px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment:fixed;
overflow:hidden;
color:#dedede;
text-shadow:1px 1px 5px rgba(0,0,0,0.8);

padding:20px 0px;
z-index:1;
overflow:hidden;
}

.title{
	text-align: center;
	font-size: 100px;
	margin-top: 8%;
	font-family: 'Exo 2', sans-serif;

}
.space{
	text-align: center;
	font-size: 40px;
	color: black;
	font-family: 'Exo 2', sans-serif;
}
.picture{
	background-image: url('../pics/H183.png');
}


.box-1{
 	background-image: url('../pics/rocks.jpg');
		 	
}

.box-2{
	background-color: white;
	border-radius: 8px;
	border-color: black;

}

.box-3{
	background-color: white;
	
}
.box-4{
	background-color: white;
}

.box-5{
	background-image: url('../pics/black-wood.jpg');
}
.back-ground{
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
	background-color: black;
	opacity: 0.6;
}
.skill{
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
	background-color: black;
	opacity: 0.6;
}
.contact-page{
	height: 800px;
	width: 900px;
	margin: 0 auto;	
	background-color: white;
	
}
#contact_form{
	background-color: white;
	color: black;
	margin: 0 auto;
}

/*navbar css*/
/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;

	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Play', sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media only screen and (max-width : 360px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
		margin-right: 25%;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
