 .parallax-background{
	height: 1000px;
-moz-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-attachment:fixed;
overflow:hidden;
color:#dedede;
text-shadow:1px 1px 5px rgba(0,0,0,0.8);

padding:20px 0px;
z-index:1;
overflow:hidden;
}

.title{
	text-align: center;
	font-size: 100px;
	margin-top: 8%;
	font-family: 'Exo 2', sans-serif;

}
.space{
	text-align: center;
	font-size: 40px;
	color: black;
	font-family: 'Exo 2', sans-serif;
}
.picture{
	background-image: url('../pics/H183.png');
}


.box-1{
 	background-image: url('../pics/rocks.jpg');
		 	
}

.box-2{
	background-color: white;
	border-radius: 8px;
	border-color: black;

}

.box-3{
	height: 1000px;
	background-color: white;
	border-top: solid;
	
	border-color: black;
	
	
}
.box-4{
	height: 1000px;
	background-color: white;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
}

.box-5{
	background-image: url('../pics/black-wood.jpg');
  color: white;
  text-align: center;
  font-size: 40px;
}

.back-ground{
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
	background-color: black;
	opacity: 0.6;
}
.skill{
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 5%;
	background-color: black;
	opacity: 0.6;
}
.contact-page{
	height: 800px;
	width: 900px;
	margin: 0 auto;	
	background-color: white;
	
}
#contact_form{
	background-color: white;
	color: black;
	margin: 0 auto;
}


/*Hamburger*/

a{
  text-decoration:none;
}
#sidebar{
  position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    transition: 0.3s linear;
    background:#292929;
    color:#f1f2f3;
    padding-top:0px;

}
#sidebar.active{
  -webkit-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    transform: translate(250px, 0px);
}
#content{
  position: relative;
  -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  padding-left:10%;
  padding-right:10%;
}
#content.active{
  -webkit-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    -o-transform: translate(250px, 0px);
    -ms-transform: translate(250px, 0px);
    transform: translate(250px, 0px);
}
#header{
}
.stuck-head{
  position: fixed;
  right: 0;
  left: 0;
  top:0;
  z-index: 1030;
  margin-bottom: 0;
}
.nav-btn{
  position: absolute;
  top: 15px;
  left: 20px;
  height: 50px;
  width: 50px;
  background: url('../pics/arrow-left.svg') rgba(0,0,0,0.3) no-repeat;
   background-color:#ffffff;
  background-position: center center;
  background-size: 50%;
  opacity: 0.9;
  border-radius: 50px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-btn.active{
  background: url('http://i.imgur.com/fbhO5yG.png') rgba(255,255,255,0.3) no-repeat;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  border-radius:50%;
  background-position: 50% 50%;
}
.nav-btn span{
  display:none;
}
.navigation{
  width:100%;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,0.7);
}
.navigation ul{
  list-style:none;
  background:#535353;
  width:100%;
  margin:0;
  padding-top:100px;
  padding-left:0;
}
.navigation ul li{
  padding-top:5px;
  padding-left:1em;
  padding-bottom:5px;
  border-bottom:1px solid #f1f2f3;
  font-size: 1.5em;
}
.navigation ul li a{
  color:#FFF;
  text-shadow:0px 0px 10px rgba(0,0,0,0.8);
  text-decoration:none;
}
.navigation ul li a:hover{
  background:#FFF;
  width:80%;
  color:#000;
  border-radius:5px;
  padding:5px 10px;
}
#header .logo img{
  margin:10px auto;
  display:block;
}
#footer{
  text-align:center;

}

 






/*hovering images*/

.carre_couleur
{
  width:300px;
  height: 600px;
  display: inline-block;
  position: relative;
  margin-top: 0px;
  margin-right: 5%
}
.base_hov .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform-origin: 50% 20%; 
  -webkit-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform-origin: 50% 20%;
  -moz-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform-origin: 50% 20%;
  -ms-transform: scale(1);
  transition: all 200ms ease-in;
  transform-origin: 50% 20%;
  transform: scale(1);
  width:300px;
  height: 600px;
  position: absolute;
  z-index: 2;
  left:0;
}
.base_hov:hover .retract
{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(0.6);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(0.6);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(0.6);
  transition: all 200ms ease-in;
  transform: scale(0.6);
}
.acced
{
  width: 180px;
  padding:10px;
  bottom:0; 
  position:absolute;
  z-index: 1; 
  text-align: left;
}
.big_acced
{
  color:#ffffff;
  font-size:20px;
  font-weight: 400;
  font-family:'Roboto';
}
.middle_acced
{
  color:#ffffff;
  font-size:15px;
  font-weight: 400;
  font-family:'Roboto';
}









